// Colors ---------------
$primary_color: #f8f9fa;
$secondary_color: #2f496e;
$third_color: #ef5d50;
$quarter_color: #61d4b3;
// $light_primary_color: #8fc6bd;
// $gray0_color: #D6D6D6;
// $gray1_color: #959595;
// $gray2_color: #6b6b6b;
// $gray3_color: #5c5a5a;
// $gray4_color: #3d3c3c;
// $gray5_color: #272727;
// $danger_color: #e23a41;
// $warning1-color: #f6b218;
// $warning2-color: #f38923;
// $warning3-color: #e95e37;

// Font -sizes
// $text-size: 20px;

/* Breakpoints */
$s-small: 375px;
$small: 440px;
$s-medium: 570px;
$medium: 768px;
$large: 960px;
$xs-large: 1024px;
$x-large: 1060px;
$xx-large: 1250px;
$xxx-large: 1440px;
$high-quality: 1700px;
